:root {
    --primary-main-color: #3eaf7c;
    --disabled-background-color: #e2e8f0;
    --disabled-color: #94a3b8;

    --effects-shadow-s: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.dark {
    --disabled-background-color: #2d3748;
    --disabled-color: #4a5568;
    --primary-main-color: #42b883;
}